.DS_Store
Ex5/src/image/*.png
Ex6/src/t10k-images.idx3-ubyte
Ex6/src/t10k-labels.idx1-ubyte
Ex6/src/train-images.idx3-ubyte
Ex6/src/train-labels.idx1-ubyte
Ex6/src/Train
final project/*.jpg
final project/*.pdf
final project/src/*.jpg
final project/src/*.png
final project/src/*.txt
final project/src/*.o
final project/src/image1
final project/src/image2
final project/src/image3
final project/src/normal1
final project/src/normal2
final project/src/normal3